extends layout

block content
  .w3-container
    if locals.user
      h4 You are logged in!
    else
      h4 You are not logged in! Please #[a(href="/login") Log In] to continue.
      h4 To browse as guest: #[a(href="/recipes") Recipes]
